.box {
    border-radius: 100px 0 0 0;
    transition: 0.1s;
    width: auto;
    height: auto;
}

/* various border-radius */

.box:nth-child(3n+1) {
    border-radius: 100px 100px 0 0;
}

.box:nth-child(3n+1):hover {
    border-radius: 0 0 100px 100px;
}

.box:nth-child(7n+0) {
    border-radius: 100px 100px 100px 0;
}

/* various rotation */

.box:nth-child(5n+0) {
    transform: rotate(90deg);
}

.box:nth-child(5n+3) {
    transform: rotate(180deg);
}

.box:nth-child(5n+4) {
    transform: rotate(270deg);
}

/* various colors */

.box:nth-child(2n+0) {
    background-color: #ffb4b4;
}

.box:nth-child(2n+1) {
    background-color: #6a49ff;
}

.box:nth-child(6n+2) {
    background-color: #47f1ab;
}

.box:nth-child(6n+3) {
    background-color: #bfeeff;
}

.box:nth-child(6n+4) {
    background-color: #f4ff7a;
}

.box:nth-child(6n+5) {
    background-color: #ff83c9;
}

/* hide some */

.box:nth-child(5n+4), .box:nth-last-child(7n+0) {
    opacity: 0;
}

.box:nth-child(5n+4):hover, .box:nth-last-child(7n+0):hover {
    opacity: 1;
}
