@font-face {
    font-family: "iA Writer Quattro V", "iA Writer Quattro V Italic";
    src: url(iAWriterQuattroV.ttf), url(iAWriterQuattroV-Italic.ttf);
}

:root {
    --color-primary: #8c49ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Typography */
body {
    color: #000000;
    font-family: "iA Writer Quattro V", sans-serif;
    font-size: 14px;
}

.header {
    height: 6rem;
    display: grid;
    grid-template:
            "A B"
            "A C" / 1fr 3fr;

}

@media screen and (min-width: 768px) {
    body {
        grid-template:
            "A B"
            "A C"
            "A D" / 1fr 1fr;
    }
}

/* Grids */
.grid {
    display: grid;
}

.grid--1x3 {
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-around;
}

@media screen and (min-width: 768px) {
    .grid--1x3 {
        display: flex;
        padding: 2rem 3rem 2rem 3rem;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
    }
}


#a {
    background-color: #6a49ff;
    grid-area: A;
}

#b {
    background-color: #31f9b3;
    display: flex;
    justify-content: right;
    grid-area: B;
}

.c {
    background-color: #ff83c9;
    grid-area: C;
}

.d {
    background-color: #f2f931;
    height: 250px;
    width: 250px;

}

.e {
    background-color: #b4ffd2;
    height: 250px;
    width: 250px;
}

.f {
    background-color: rgba(49, 89, 249, 0.94);
    height: 250px;
    width: 250px;
}

/* Tables */
table {
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: none;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #f6f4f4;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--color-primary);
    color: white;
}

th {
    colspan: 2;
}


/* Testimonials */
.testimonials_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .testimonials_container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .testimonials_container span{

    }
}

.testimonial {
    height: 80%;
    max-width: 350px;
    border-radius: 12px;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 0 20px #ded6d6;
}

@media screen and (min-width: 500px) {
    .testimonial {
        display: grid;
        height: auto;
        grid-template:
                "A B" / 1fr 1fr;
        max-width: 80%;
        border-radius: 12px;
        padding: 1rem;
        box-shadow: 0 0 20px #ded6d6;
    }
}


@media screen and (min-width: 768px) {
    .testimonial {
        display: block;
        height: 80%;
        max-width: 350px;
        border-radius: 12px;
        padding: 2rem;
        box-shadow: 0 0 20px #ded6d6;
    }
}

@media screen and (min-width: 500px) {
    .testimonial span {
        min-height: 250px;
    }
}

@media screen and (min-width: 768px) {
    .testimonial span {
        min-height: auto;
    }
}

@media screen and (min-width: 768px) {
    .testimonial span {
        min-height: auto;
    }
}

.testimonial_image {
    grid-area: A;
    width: 100%;
    border-radius: 100%;
}

@media screen and (min-width: 500px) {
    .testimonial_image {
        margin: auto;
        width: 200px;
    }
}

@media screen and (min-width: 768px) {
    .testimonial_image {
        grid-area: A;
        width: 200px;
        border-radius: 100%;
    }
}

.testimonial blockquote {
    grid-area: B;
    font-style: italic;
}



.testimonial_signature {
    grid-area: A;
}

.testimonial_signature::before {
    content: "-";
}

.testimonial blockquote::before {
    content: open-quote;
}

.testimonial blockquote::after {
    text-align: right;
    content: close-quote;
}