@font-face {
    font-family: "iA Writer Quattro V", "iA Writer Quattro V Italic";
    src: url(iAWriterQuattroV.ttf), url(iAWriterQuattroV-Italic.ttf);
}


:root {
    --color-primary: rgba(38, 66, 199, 0.94);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Typography */
body {
    padding: 2rem;
    color: #000000;
    font-family: "iA Writer Quattro V", sans-serif;
    font-size: 16px;
}


/* Grids */
.grid {
    display: grid;
}

@media screen and (min-width: 768px){
    .grid--1x2{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1024px){
    .grid--1x3{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .grid--inner {
        display: block;
    }
}

/* Tables */
table {
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: none;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #f6f4f4;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--color-primary);
    color: white;
}

th {
    colspan: 2;
}


/* Testimonials */

.testimonial {
padding: 1.5rem 0.5rem 0.8rem 0.5rem ;
}

@media screen and (min-width: 768px) {
    .testimonial {
        padding: 1.5rem 0.5rem 1.5rem 0.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .testimonial {
        padding: 1rem 1rem 1rem 1rem;
    }
}

.testimonial span {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.testimonial__image {
width: 100%;
    border-radius: 100%;
}

.testimonial blockquote {
    font-style: italic;
    padding-bottom: 2rem;
}

.testimonial__signature {
}

.testimonial__person{
    color: var(--color-primary);
}
.testimonial__person::before{
    content: "-";
}

.testimonial__company {
    font-size: 12px;
    color: var(--color-primary);
}

.testimonial__signature::before {
    content: "-";
}

.testimonial blockquote::before {
    content: open-quote;
}

.testimonial blockquote::after {
    content: close-quote;
}

/* Cards */

.card {
    margin: 1rem;
border-radius: 7px;
    box-shadow: 0 0 20px #ded6d6;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
}

@media screen and (min-width: 768px) {
    .card {
        max-width: 100%;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.card__header, .card__body {
    padding: 1rem 2rem;

}

.card__header {
    color: white;
    background-color: var(--color-primary);
}