* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

}

body {
    color: #000000;
    font-family: sans-serif;
    padding: 3em;
}

.header {
    height: 6rem;
    display: grid;
    grid-template:
            "A B"
            "C C" / 1fr 3fr;

}

@media screen and (min-width: 768px) {
    body {
        grid-template:
            "A B"
            "A C" / 1fr 3fr;
    }
}


.grid {
    display: grid;
}

.grid--1x3 {
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-around;
}

@media screen and (min-width: 768px) {
    .grid--1x3 {
        display: flex;
        padding: 2rem 3rem 2rem 3rem;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
    }
}



#a {
    background-color: #6a49ff;
    grid-area: A;
}

#b {
    background-color: #31f9b3;
    display: flex;
    justify-content: right;
    grid-area: B;
}

.c {
    background-color: #ff83c9;
    grid-area: C;
}

.d {
    background-color: #f2f931;
    height: 250px;
    width: 250px;

}

.e {
    background-color: #b4ffd2;
    height: 250px;
    width: 250px;
}

.f {
    background-color: rgba(49, 89, 249, 0.94);
    height: 250px;
    width: 250px;
}

.table_container{
    background: #f93195;
}

table {
    width: 100%;
}

#films {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#films td, #films th {
    border: 1px solid #ddd;
    padding: 8px;
}

#films tr:nth-child(even){background-color: #f2f2f2;}

#films tr:hover {background-color: #ddd;}

#films th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

th {
    colspan: 2;
}