* {
    margin: 0;
    padding: 0;

}

.box-container{
    display: flex;
    margin-top: 24px;
    justify-content: center;
}
.box-grid{
    display: grid;
    grid-template-columns: 50px 75px 75px;
    grid-template-rows: 75px 75px 75px;
}

.box {
    background-color: black;
    transition: 0.3s;
    width: auto;
    height: auto;
}
@media screen and (min-width: 500px){
    .box-grid{
        grid-template-columns: 75px 75px 75px 75px 75px 75px 75px 75px;
        grid-template-rows: 75px 75px 75px;
    }
}

@media screen and (min-width: 672px){
    .box-grid{
        grid-template-columns: 75px 75px 75px 75px 75px 75px 75px 75px;
        grid-template-rows: 100px 100px 100px;
    }
}

@media screen and (min-width: 780px){
    .box-grid{
        grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
        grid-template-rows: 100px 100px 100px;
    }
}

@media screen and (min-width: 880px){
    .box-grid{
        grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
        grid-template-rows: 100px 100px 100px;
    }
}

.box:nth-child(7n+0) {
    border-radius: 100px 0 0 0;
}
.box:nth-child(3n+1) {
    border-radius: 0 100px 0 0;
}
.box:nth-child(5n+2) {
    border-radius: 0 0 100px 0;
}
.box:nth-child(9n+0) {
    border-radius: 0 0 0 100px;
}
